.profile-info {
    width: 50%;
    overflow: hidden;
    margin: auto;
    border-radius:10%;
    display: flex;
}

.profile-icon {
    height: 10rem;
    width: 10rem;
    /* max-height: 250px;
    max-width: 250px; */
    border-radius: 50%;
    border: 5px solid pink;
    margin: 8%;
}

.profile-details {
    margin-top: 5%;
}